.task {
  &__main {
    width: 100vw;
    height: 100vh;
    background-color: #DEE0E4;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 1440px) {
      font-size: 20px;
    }
    @media screen and (min-width: 768px) and (max-width: 1439px) {
      font-size: 18px;
    }
    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }

  &__wrapper {
    width: 90%;
    min-height: 60px;
    border-radius: 20px;
    padding: 10px 0;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #CED2DA;

    &_backgroundColor {
      &_white {
        background-color: white;
        &:hover {
          background-color: #fff !important;
        }
      }
    }

    transition: background-color .4s;
    &:hover {
      color: #4E5256;
      background-color: #C6CAD2;
      transition: background-color .4s;
    }

    @media screen and (min-width: 1440px) {
      max-width: 900px;
      min-height: 70px;
      font-size: 20px;
    }
  }

  &__box {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    background-color: #E9E9E9;
    border-radius: 7px;
    margin-left: 20px;
    &_display {
      &_none {
        display: none;
      }
    }
  }

  &__text {
    color: #5B5E66;
    padding: 0 20px;
    &_display {
      &_none {
        display: none;
      }
    }
  }

  &__input {
    flex-grow: 1;
    outline: none;
    margin: 0 20px;
    min-width: 50px;
    height: 75%;
    background-color: transparent;
    &_display {
      &_none {
        display: none;
      }
    }
    &_color {
      &_golden {
        color: #A3834B;
      }
    }
  }
}

div.task__input:empty:before {
  content: "Write a new task here";
}